body {
    position: relative;
    height: 100%;
    background: #a02828;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: #ffffff;
    color: #000;
    font-size: 16px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.jfoods{
    font-family: "Pacifico";
}

main{
    padding-top: 100px;
    font-family: "Roboto";
}
.container1 {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 50px;
    position: relative;
    height: 100%;
}