.container2{
  padding: 30px 0 0 0;
  font-size: 34px;
  font-weight: 300px;
  text-align: center;
  font-family: "Notable", Arial, sans-serif;
}

.container3{
  padding: 0 40px;
}

.popular{
  font-family: "Notable", Arial, sans-serif;
}
.tranding-slider {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 580px;
  border-radius: 10px;
  overflow: hidden;
}
    
.swiper-slide img {
  display: block;
  width: 450px;
  height: 580px;
  object-fit: cover;
}

.swiper-slide-active {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

footer{
  display: flex;
  justify-content: space-around;
}

.foods{
  h2{
    font-family: "Notable";
  }
  h3{
    font-family: "Roboto";
  }
}